body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: rgb(44, 44, 44); */
}

#startn{
    width: 50px;
}

#seed{
    width: 100px;
}

.buttons{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#pause{
    width: 50px;
}

#reset{
    width: 50px;
}

#mass{
    width: 100px;
}

#massv{
    width: 25px;
}

#vel{
    width: 25px;
}

#velz{
    width: 25px;
}

#radius{
    width: 25px;
}
#solarradius{
    width: 25px;
}
#solarmass{
    width: 100px;
}
